body{
    background-color: rgb(198, 197, 197);
    /* display: flex; */
}
.prod{
    border: 2px solid black;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.prod :hover{
    /* background-color: red; */
}