.fruitsItems{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    position: relative;
}
.detail{
    border: 1px black solid;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    padding: 20px 10px 20px 10px;
    line-height: 1px;
    background-color:#3aafa9;
    /* position: relative; */
    /* row-gap: 0; */
}
 .dealsImage >img{
    /* margin-top: 20px; */
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.mrp{
    text-decoration: line-through;
    color: red;
}
.rate{
display: flex;
justify-content: space-evenly;
/* padding-right: 20px; */
}
.original_rate{
    font-weight: bold;
}
.abouts >button{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    height: 35px;
    font-size: larger;
    color: yellow;
    background: linear-gradient(100deg, yellow, rgb(116, 1, 116), gold, rgb(116, 1, 116), orange);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;

    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;

    }

}
.abouts >h4{
    padding-left: 30px;
}
.abouts >p{
    padding-left: 30px;
}
.offer{
  
    width:35px;
    border-radius: 50%;
    height: 35px;
    line-height: 12px;
     position: absolute;
    top: 6px;
    font-size: 12px;
    left:5px;
    background-color: red;
    font-weight: 600;
}
.offer >span{
    padding-left: 8px;
    color: white;
    line-height: 10px;
}
.original_rate{
    color: white;
    font-size: larger;
}
