.header{
    background-color: #008ECC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    color: white;
}
.header2{
    position: absolute;
    top: 105px;
    left: 250px;
    display: flex;
    justify-content: space-between;
  }
.bet{
    position: absolute;
    top: 73px;
    left: 295px;

}
.head_first{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    
}
.head_first > span{
    color: #def2f1;
}
.head_scnd{
    padding: 15px;  
    width: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.head_scnd > input{
    border: none;
    outline: none;
    width: 36vw;
    padding: 10px 15px;
    border-radius: 35px;
}
.head_third >button {
    border: none;
    outline: none;
    width: 9vw;
    /* background-color: ; */
    /* color: white ; */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 7px;
}
